# Ignore the biuld directory in the source directory (These are compiled files which can be recreated when the program is packaged)
source/build/
source/dist/
source/main.spec

# Ignore the virtual environment files specific to the users environment and can be recreated
venv/
.idea/

# Ignore Python byte-compiled files
__pycache__/
*.py[cod]